@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.heading-box {
	display: flex;
	height: 100vh;
}

.home-fullscreen {
	width: 100%;
	height: 100vh;
	margin-right: 80px;
	background-color: #f4b400;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#kevin {
	color: #0f9d58;
}
#web-developer {
	color: #4285f4;
}
#mechanical-engineer {
	color: #db4437;
}
.home-fullscreen span {
	font-size: 1.875rem;
	font-family: "Pacifico", cursive;
}
.text-title {
	font-size: 6.25rem;
	color: #fff;
}

.text-subtitle {
	font-family: "Hachi Maru Pop", cursive;
	font-size: 1.25rem;
	color: #000;
}

.boxes-home {
	flex-wrap: wrap;
	display: flex;
}

.box-item {
	font-size: 45px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
}

.box-item img {
	display: block;
	width: auto;
	width: 100%;
	opacity: 1;
}

@media all and (max-width: 550px) {
	.home-fullscreen span {
		font-size: 1.25rem;
	}
	.text-title {
		font-size: 5rem;
	}

	.text-subtitle {
		font-size: 0.75rem;
	}
}

@media all and (max-width: 700px) {
	.box-item {
		width: 100%;
	}
}

#blue {
	background-color: #4285f4;
}

#red {
	background-color: #db4437;
}

#yellow {
	background-color: #f4b400;
}

#green {
	background-color: #0f9d58;
}

#sky-blue {
	background-color: #00a4ef;
}

#pink {
	background-color: #ffc0cb;
}
