@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@300&display=swap");

.content-webporfolio {
	height: 100%;
	width: 100%;
	margin-right: 80px;
	padding-bottom: 10px;
	background-image: linear-gradient(120deg, skyblue, pink);
}

.webportfolio-heading-box {
	display: flex;
	height: 300px;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	font-family: "Pacifico", cursive;
	text-align: center;
	color: #000;
}
.mac-navbar {
	display: flex;
	align-self: start;
}

.mac-navbar ul {
	margin-bottom: 6px;
}
.mac-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;
	display: inline-block;
}

#red {
	background-color: #fe5552;
}

#yellow {
	background-color: #ffbd4b;
}

#green {
	background-color: #00cb56;
}

.portfolio-card {
	height: auto;
	display: flex;
	flex-wrap: wrap;
	margin: 0px 15px;
	margin-bottom: 50px;
}

.portfolio-card .item-1 {
	width: 65%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #e9e9e9;
	padding: 5px 10px;
	border-radius: 10px;
	-webkit-box-shadow: 7px 8px 11px 2px #7a7a7a;
	box-shadow: 7px 8px 11px 2px #7a7a7a;
}
.portfolio-card .item-1 img {
	display: block;
	width: 100%;
}
.portfolio-card .item-2 {
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 20px;
}

.portfolio-card .item-2 .title {
	font-size: 1.75rem;
	font-weight: bold;
	margin: 20px 0px;
	font-family: "Sofia", cursive;
	font-weight: 800;
}

.portfolio-card .item-2 .description {
	font-size: 1rem;
	text-align: center;
	width: 80%;
}
.portfolio-card .item-2 ul {
	margin: 15px 0;
}
.portfolio-card .item-2 ul li {
	font-size: 1rem;
	list-style-type: none;
	text-align: left;
	margin: 5px;
}

#order-1 {
	order: 1;
}

#order-2 {
	order: 2;
}
@media all and (max-width: 800px) {
	.webportfolio-heading-box {
		font-size: 3rem;
	}
	.portfolio-card .item-1 {
		width: 100%;
	}
	.portfolio-card .item-2 {
		width: 100%;
	}
}
@media all and (max-width: 500px) {
	.content-webporfolio {
		margin-top: 0px;
		margin-right: 0px;
	}

	.portfolio-card .item-1 {
		order: 1;
	}
	.portfolio-card .item-2 {
		order: 2;
	}
}
